@import "../node_modules/bootstrap/scss/bootstrap";

$primary : #4CAF50;
$secondary: #8BC34A;
$dark: #388E3C;
$bg-dark: #388E3C;
$font-family-sans-serif: 'Inria Sans', sans-serif !default;
$font-family-sans-serif: 'Gudea', sans-serif !default;
